* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lora', serif, 'Kaushan Script', cursive;
    scroll-behavior: smooth;
}

.title-text {
    text-align: center;
    color: #3D0C02;
    padding-top: 2cm;
    padding-bottom: 1cm;
}

.title-text p {
    margin: auto;
    font-size: 20px;
    color: orangered;
    font: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px #FFD580;
    position: relative;
    z-index: 1;
    display: inline-block;
}

.title-text p::after {
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(green, greenyellow);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.title-text h1 {
    text-transform: capitalize;
    font-size: 50px;
}

/* banner/home */
#banner {
    background: url(./photos/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.logo {
    width: 120px;
    position: absolute;
    top: 2%;
    left: 7%;
}

.banner-text {
    text-align: center;
    padding-top: 200px;
}

.banner-text h1 {
    font-size: 130px;
    color: #3D0C02;
}

.banner-text p {
    font-size: 40px;
    font-weight: bold;
    color: #3D0C02;
    padding-top: 30px;
}

.banner-btn {
    margin: 150px auto 0;
}

.banner-btn a {
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: orange;
    border: 2.75px solid green;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}

.banner-btn a span {
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: orange;
    text-shadow: 2px 2px #8B4000;
    z-index: -1;
    transition: 0.5s;
}

.banner-btn a:hover span {
    width: 100%;
    text-shadow: 2px 2px #8B4000;
}

.banner-btn a:hover {
    color: orangered;
}

.offcanvas.offcanvas-end {
    width: 250px;
}

/* Media query for mobile devices (360px - 480px) */
@media (min-width: 360px) and (max-width: 480px) {
    .banner-text h1 {
        font-size: 60px;
    }

    .banner-text p {
        font-size: 24px;
        padding-top: 15px;
    }
}

/* Media query for iPads and tablets (481px - 768px) */
@media (min-width: 481px) and (max-width: 768px) {
    .banner-text h1 {
        font-size: 80px;
    }

    .banner-text p {
        font-size: 30px;
        padding-top: 20px;
    }
}

/* Media query for small screens and laptops (769px - 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    .banner-text h1 {
        font-size: 100px;
    }

    .banner-text p {
        font-size: 36px;
        padding-top: 25px;
    }

    .banner-btn {
        margin: 120px auto 0;
    }
}

/* Media query for desktops and large screens (1025px - 1200px) */
@media (min-width: 1025px) and (max-width: 1200px) {
    .banner-text h1 {
        font-size: 110px;
    }

    .banner-text p {
        font-size: 40px;
        padding-top: 30px;
    }
}

/* Media query for extra large screens and TV (1201px and more) */
@media (min-width: 1201px) {
    .banner-text h1 {
        font-size: 130px;
    }

    .banner-text p {
        font-size: 40px;
        padding-top: 30px;
    }
}

/* navbar */
.nav-item {
    margin: 20px 10px;
}

.nav-link {
    margin: auto;
    padding: auto;
    color: #3D0C02;
    font-weight: bolder;
    font-size: larger;
}

.nav-link:hover {
    color: orangered;
    font-weight: bolder;
}

.offcanvas.offcanvas-end {
    background-color: orange;
}

.navbar-toggler {
    font-size: xx-large;
    margin: .25cm; 
    border-style: none;
}

span.bi {
    color: #3D0C02;
}

/* features/about us */
#features {
    width: 100%;
    padding-bottom: 1cm;
}

.features-box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.features {
    flex-basis: 50%;
}

.features-img {
    flex-basis: 50%;
    margin: auto;
}

.features-img img {
    width: 70%;
    border-radius: 10px;
}

.features h2 {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: orangered;
}

.features-desc {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.features-icon .bi {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    color: green;
}

.features-text p {
    padding: 0 20px;
    text-align: initial;
}

@media screen and (max-width: 770px) {
    .title-text h1 {
        text-transform: capitalize;
        font-size: 35px;
    }

    .features {
        flex-basis: 100%;
    }

    .features-img {
        flex-basis: 100%;
    }

    .features-img img {
        width: 100%;
    }
}

/* services */
.services {
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-color: whitesmoke;
    text-align: center;
}

.services h1 {
    padding-bottom: .75cm;
}
  
.service-item {
    display: inline-block;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 3px yellow, 0 1px 2px orange;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    position: relative;
}
  
.service-item:hover {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    animation-name: example;
    animation-duration: 0.25s;
    border-left: 8px solid orangered;
    box-shadow: 0 14px 28px #3D0C02, 0 10px 10px orangered;
}
  
.service-item .img {
    width: 180px;
    height: 180px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    background-color: #fff;
}
  
.service-item .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.service-item .details {
    margin-top: 20px;
    text-align: center;
}
  
.service-item .icon {
    background-color: orangered;
    color: white;
    font-size: 36px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 auto 20px auto;
}
  
.service-item h3 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}
  
.service-item h6 {
    font-size: 16px;
    color: #666;
}
  
@keyframes example {
    0%   { border-left: 2px solid yellow; }
    25%  { border-left: 3px solid orange; }
    50%  { border-left: 4px solid orangered; }
    100% { border-left: 5px solid #3D0C02; }
}

/* pricing */
#pricing {
    padding-bottom: 1cm;
}

.pricing .pricing-item {
    padding: 40px 40px;
    background: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 4px solid orange;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

.pricing .pricing-item:hover {
    background-color: orangered; 
    transform: scale(1.05);
}

.pricing .pricing-item:hover .pricing-header h3 {
    color: white;
}

.pricing .pricing-header {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 0;
    margin: -60px -40px 0;
}

.pricing h3 {
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 36px;
    color: orangered;
}

.pricing h4 {
    font-size: 48px;
    color: black;
    font-weight: 400;
    margin-bottom: 0;
}

.pricing h4 sup {
    font-size: 28px;
}

.pricing h4 span {
    color: rgba(orange, 0.6);
    font-size: 24px;
}

.pricing ul {
    padding: 30px 0;
    list-style: none;
    color: black;
    text-align: left;
    line-height: 20px;
}

.pricing ul li {
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.pricing ul i {
    color: orange;
    font-size: 36px;
    padding-right: 3px;
    line-height: 0;
}

.pricing ul .na span {
    text-decoration: line-through;
}

.pricing-btn {
    margin-top: 40px;
    text-align: center;
}

.pricing-btn a {
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: orangered;
    border: 3px solid green;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}

.pricing-btn a span {
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: orange;
    text-shadow: 2px 2px #8B4000;
    z-index: -1;
    transition: 0.5s;
}

.pricing-btn a:hover span {
    width: 100%;
    text-shadow: 2px 2px red;
}

.pricing-btn a:hover {
    color: red;
}

.pricing .pricing-item.featured {
    border-color: orangered;
}

@media (max-width: 1024px) {
.pricing ul li {
    padding: 0;
    }
}

/* menu */
#menu {
    text-align: center;
    background-color: whitesmoke;
    padding-bottom: 2cm;
}

.menu-item {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.menu-item img {
    max-width: 100%;
    height: auto;
    display: block;
}

.menu-item h5 {
    margin: 1cm 0;
    font-size: 50px;
}

.menu-item p {
    padding: 0 1cm;
}

#menuCarousel {
    margin-top: 2cm;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #3D0C02;
}

@media screen and (max-width: 768px) {
    .menu-item {
        max-width: 90%;
    }
}